# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dlo0tycsx
CLOUDINARY_API_KEY=556851389483226
CLOUDINARY_API_SECRET=Cpil2S0VnOSGKzKGCzkPjNAJjUc

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/morpankh_saree
